@font-face {
  font-family: 'Microsoft New Tai Lue';
  src: url("../font/ntailu.eot"),
      url("../font/ntailu.woff2"),
      url("../font/ntailu.woff"),
      url("../font/ntailu.ttf"),
      url("../font/ntailu.svg");

}
@font-face {
  font-family: 'Microsoft New Tai Lue Bold';
  url("../font/ntailu.woff2"),
  url("../font/MicrosoftNewTaiLue-Bold.woff"),
  url("../font/MicrosoftNewTaiLue-Bold.ttf"),
  url("../font/MicrosoftNewTaiLue-Bold.svg");

}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Microsoft New Tai Lue', sans-serif;
  color: #000;
  line-height: 1.1;
  background-color: #fff;
}
.text_dark-grey {
  color: #585859;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Microsoft New Tai Lue Bold', sans-serif;
  font-weight: 900;
}
h2 {
  font-size: 2.5rem;
}
.h2-big {
  font-size: 4.12rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.25rem;
}
a:hover {
  cursor: pointer;;
}
.nav-item {
  font-size: 1.35rem;
}





.fit-contain {
  object-fit: contain;
}
.fit-none {
  object-fit: none;
}
.card {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #b3b3b5;
  border:0;
}
.bg_radial-gradient {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 16%, rgba(0,0,0,0) 100%);
}
.bg_linear-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 48%);
}
.bg_bottom-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 0.3%, rgba(255,255,255,0) 48%);
}
.container-fluid {
  max-width: 1680px;
}
.grid-container {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 0.6fr 1.4fr 1fr;
  grid-template-columns: 1fr 0.6fr 1.4fr 1fr;
  -ms-grid-rows: 0.3fr 0.2fr 0.6fr 0.4fr;
  grid-template-rows: 0.3fr 0.2fr 0.6fr 0.4fr;

  gap: 20px 20px;
  grid-template-areas:
      "block1 block2 block2 block3"
      "block1 block5 block5 block3"
      "block4 block5 block5 block6"
      "block7 block8 block9 block6"
      ". . . .";
}
.block1 { grid-area: block1; }
.block2 { grid-area: block2; }
.block3 { grid-area: block3; }
.block4 { grid-area: block4; }
.block5 { grid-area: block5; }
.block6 { grid-area: block6; }
.block7 { grid-area: block7; }
.block8 { grid-area: block8; }
.block9 { grid-area: block9; }


@media all and (-ms-high-contrast:none) {

  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 0.6fr 1.4fr 1fr;
    -ms-grid-rows: 0.3fr 0.2fr 0.6fr 0.4fr;
    gap: 20px 20px;
  }

  .block1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .block2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }

  .block3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
  }

  .block4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: -1;
  }

  .block5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  .block6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
  }

  .block7 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: -2;
  }

  .block8 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: -1;
  }

  .block9 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 0;
  }

}

@media all and (max-width: 1390px) {
  h2 {
    font-size: 2rem;
  }
  .h2-big {
    font-size: 3.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}


@media all and (max-width: 1080px) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.35fr 0.2fr 0.5fr 0.4fr 0.5fr 0.2fr 0.3fr;
    gap: 10px 10px;
    grid-template-areas:
    "block2 block3"
    "block5 block3"
    "block5 block6"
    "block9 block6"
    "block7 block1"
    "block4 block1"
    "block4 block8";
  }

}
@media all and (-ms-high-contrast:none) and (max-width: 1080px) {

  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 2fr 1fr;
    -ms-grid-rows: 0.35fr 0.2fr 0.5fr 0.4fr 0.5fr 0.2fr 0.3fr;
    gap: 10px 10px;
  }

  .block2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .block3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  .block5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 0;
  }

  .block6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 0;
  }

  .block9 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: -2;
  }

  .block7 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: -3;
  }

  .block1 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: -2;
  }

  .block4 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: -4;
  }

  .block8 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: -4;
  }

}

@media all and (max-width: 991px) {
  .navbar-nav {
    padding-left: 0!important;
  }
  .navbar-collapse {
    padding-top: 40px;
  }
  .nav-item {
    margin-right: 0!important;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
  }
}

@media all and (max-width: 600px) {
  /*.grid-container {*/
  /*  display: block;*/
  /*}*/
  /*.card {*/
  /*  margin-bottom: 2rem;*/
  /*}*/
  /*.card:not(.block6) {*/
  /*  padding: 2rem;*/
  /*}*/

  h2 {
    font-size: 1.7rem;
  }
  .h2-big {
    font-size: 3rem;
  }
  .block2 .d-flex{
    flex-direction: column;
    text-align: center;
  }
  .block2 .d-flex .card-body {
    padding-left: 0;
  }
  .block2 .d-flex img {
    height: 60px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.4fr 0.2fr 0.4fr;
    gap: 10px 10px;
    grid-template-areas:
    "block2 block3"
    "block5 block6"
    "block9 block6"
    "block7 block1"
    "block4 block1"
    "block4 block8";
  }
}
@media all and (-ms-high-contrast:none) and (max-width: 600px) {

  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 2fr 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr 0.4fr 0.2fr 0.5fr;
    gap: 10px 10px;
  }

  .block2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .block3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  .block5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 0;
  }

  .block6 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .block9 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: -1;
  }

  .block7 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: -2;
  }

  .block8 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: -3;
  }

  .block4 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: -3;
  }

  .block1 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: -1;
  }

}
